body{
  background-image: url(img6.jpg);
}

form{
  border-radius: 30px;
  border: none;
  width: 50%;
  margin-left: 25%;
  margin-top: 2.5%;

}

#button{
  background-color: rgb(195, 230, 240);

}

#content{
  color: brown;
}

#table{
  border-color: red;
}

#header{
  text-align: center;
  background-image: linear-gradient(to left, violet, rgb(126, 0, 130), rgb(0, 183, 255), rgb(36, 128, 0), yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#btn-back-to-top:hover {
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: hsla(5,76%,62%,.8);
  background-color: black;
}

#switch{
  margin-left: 10px;
  pso
}

body.dark{
  background-image:url(img2.jpg);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}
